:root{
    --grayLow:#777777;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 44, 44); 
}

.logo{
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
}

.header_section_img {
    background-image: url('../img/myself.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.header__line{
    width: 300px;
    height: 1pt;

}
.header__div{
    padding-top: 500px;
}

.header__text{
    font-family: 'Roboto', sans-serif;
    font-size: 35pt;
    

}

.header__text_2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.divisor__line{
    width: 100px;
}

.separador__trabajos{
    width: 100px;
}

.footer{
    width: 100%;
    

}